<section class="bg-gray-100 py-16 flex-grow">
  <div class="container mx-auto px-4 text-center">
    <h1 class="text-4xl font-bold mb-4">Manage Your Tasks Efficiently</h1>
    <p class="text-lg mb-6">
      Stay organized and increase your productivity with Task Manager.
    </p>
    <button
      (click)="login()"
      class="bg-blue-600 text-white py-3 px-6 rounded hover:bg-blue-500 transition">
      Get Started
    </button>
    <img
      src="/task-management.svg"
      alt="Task Management"
      class="mt-8 mx-auto w-full max-w-lg" />
  </div>
</section>
<section class="bg-white py-16">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-around">
      <div class="text-center p-4 w-full md:w-1/3">
        <img src="/organized.svg" alt="Organized" class="h-21 mx-auto mb-4" />
        <h2 class="text-2xl font-bold mb-2">Stay Organized</h2>
        <p class="text-gray-600">
          Keep track of all your tasks and deadlines in one place.
        </p>
      </div>
      <div class="text-center p-4 w-full md:w-1/3">
        <img
          src="/easy-to-use.svg"
          alt="Easy to Use"
          class="h-21 mx-auto mb-4" />
        <h2 class="text-2xl font-bold mb-2">Easy to Use</h2>
        <p class="text-gray-600">
          Our intuitive interface allows you to manage your tasks with ease.
        </p>
      </div>
      <div class="text-center p-4 w-full md:w-1/3">
        <img
          src="/colaboration.svg"
          alt="Collaborate"
          class="h-21 mx-auto mb-4" />
        <h2 class="text-2xl font-bold mb-2">Collaborate</h2>
        <p class="text-gray-600">
          Work with your team and manage tasks together.
        </p>
      </div>
    </div>
  </div>
</section>
